#body{
    background-color: rgb(231, 236, 236);
    height: 400px;
    position: relative;
}

#details{
    height: 370px;
}

#links {
    height: 30px;
    text-align: center;
}

#links a{
    background-color: rgb(125, 199, 221);
    padding: 6px;
    color: white;
    border-radius: 10px;
}
#links a:hover{
    background-color:rgb(109, 180, 221);
}

#previous{
   position: absolute;
   left: 50px;
   bottom: 20px;
}

#next{
    position: absolute;
    right: 50px;
    bottom: 20px;
}

#back{
    position: absolute;
    bottom: 20px;
}